language: php

sudo: false

cache:
    directories:
        - $HOME/.composer/cache/files

matrix:
    include:
        - php: 7.1
    fast_finish: true

install:
    - composer install --prefer-dist

script:
    - ./vendor/bin/phpunit
